.formcontato__contacto {
    width: 100%;
    height: 650px;
    background-color: #9400FF;
    display: flex;
    flex-direction: row;
    gap: 80px;
    font-family: 'poppins';
}

.formcontato--esquerda {
    width: 50%;
    height: auto;
    margin-top: 50px;
}

.formcontato__img {
    width: 600px;
    height: 550px;
    box-shadow: 1px 1px 15px 15px black;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 30px;
    border-radius: 10px;
}

.formcontato__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #19191c;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 15px black;

}

.formcontato__title {
    color: white;
    border-bottom: 3px solid #9400FF;
    padding: 5px;
    font-size: 28px;
}

#nome {
    margin-bottom: 10px;
}

.formcontato__subtext {
    color: white;
    font-size: 16px;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
}

.formcontato__input{
    padding: 4px;
    border-radius: 5px;
    border: 3px solid black;
}

.formcontato__textarea {
    border-radius: 5px;
    border: 3px solid black;
}

.formcontato__botao{
    border: 2px solid black;
    padding: 5px;
    width: 160px;
    border-radius: 5px;
    background-color: #f7af14e3;
    margin: auto;
    transition: 0.3s;
}

.formcontato__botao:hover {
    transition: 0.3s;
    transform: scale(1.2);
}

.erro {
    color: red;
    font-size: 12px;
    margin: 0px;
}

@media only screen and (max-width: 1200px) {
    .formcontato__contacto {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .formcontato__form {
        margin: 0px;
    }
    .formcontato__text {
        margin-right: 0px;
        margin-top: 0px;
    }
    .formcontato__img {
        display: none;
    }
    .formcontato--esquerda{
        margin-top: 0px;
    }
}

@media only screen and (max-width: 700px) {
    .formcontato__text {
        margin-right: 30px;
        margin-left: 30px;
    }
}